.grid {
  width: 400px;
  height: 600px;
  background-image: url('background.png');
  position: relative;
  font-size: 100px;
  text-align: center;
}
.platform {
  width: 85px;
  height: 15px;
  background-image: url('platform.png');
  position: absolute;
}
.doodler {
  width: 87px;
  height: 85px;
  background-image: url('doodle.png');
  position: absolute;
}